PORT=5050

EASYORDER_API_KEY=
EASYORDER_BASE_URL=
EASYORDER_API_BASE_URL=https://api.easy-orders.net/api/v1/external-apps

BOSTA_API_KEY=
BOSTA_BASE_URL=https://app.bosta.co/api

SUPABASE_BOSTA_CITIES_TABLE=bosta_cities
SUPABASE_BOSTA_DISTRICTS_TABLE=bosta_districts

GOOGLE_SHEET_CSV_URL=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_RANGE=
GOOGLE_SERVICE_ACCOUNT_PATH=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ORDERS_TABLE=orders
SUPABASE_ORDER_STATUS_LOGS_TABLE=order_status_logs
SUPABASE_PRODUCTS_TABLE=products
SUPABASE_EMPLOYEES_TABLE=employees

JWT_SECRET=
